<!DOCTYPE html>
<html>

<head>
    <title>WISQARS Non-Fatal Injury Reports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="{{virtualPath}}/public/index.min.css" rel="stylesheet" />
    <link href="{{virtualPath}}/client/assets/styles/hopscotch.css" rel="stylesheet">
    <script type="text/javascript" src="{{virtualPath}}/client/services/d3.v3.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{virtualPath}}/client/services/d3plus.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{virtualPath}}/client/services/d3-legend.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{virtualPath}}/public/bundle.min.js" charset="utf-8"></script>
    <!-- Includes all JS and HBS files -->

    <script type="text/javascript">
        window.VIRTUAL_PATH = "{{virtualPath}}";

    </script>
</head>

<body>
    <!-- APPLICATION COMPONENT -->
    <main class="application-container"></main>
</body>

</html>