<div class="cardBottom">
    <div class="stats-container">
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the standard error is {{stat.stderr}}">{{stat.stderr}}</div>
            <div class="stat-text">Standard Error</div>
        </div>
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the coefficient of variation is {{stat.cv}}">{{stat.cv}}</div>
            <div class="stat-text">CV</div>
        </div>
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the lower confidence limit is {{stat.lower}}">{{stat.lower}}</div>
            <div class="stat-text">Lower Confidence Limit</div>
        </div>
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the opper confidence limit is {{stat.upper}}">{{stat.upper}}</div>
            <div class="stat-text">Upper Confidence Limit</div>
        </div>
    </div>
</div>