<div class="cardTop">
    <div class="stats-container">
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the number of injuries is {{stat.injuries}}">{{stat.injuries}}</div>
            <div class="stat-text">Number of Injuries</div>
        </div>
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the population is {{stat.pop}}">{{stat.pop}}</div>
            <div class="stat-text">Population</div>
        </div>
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the Crude Rate of Deaths per one hundred thousand is {{stat.rate}}">{{stat.rate}}</div>
            <div class="stat-text">Crude Rate</div>
        </div>
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the age adjusted rate per one hundred thousand is {{stat.ageadj}}">{{stat.ageadj}}</div>
            <div class="stat-text">Age-Adjusted Rate</div>
        </div>
        <div class="stat-item">
            <div class="stat" tabindex="0" aria-label="the number of records is {{stat.records}}">{{stat.records}}</div>
            <div class="stat-text">Number of Records</div>
        </div>
    </div>
</div>